.aboutArea {
    padding: 20px;
}
.aboutArea .aboutText {
    margin-top: 30px;
}
.aboutArea #aboutContent {
    position: relative;
}
#mainTitle {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    z-index: 999;
}
#mainTitlePost {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 56px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px #222;
    user-select: none;
}
.aboutFlexContainer {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    gap: 40px;
}
.aboutFlexContainer #aboutCont {
    color: #fff;
    line-height: 24px;
    letter-spacing: 1px;
}
